<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: #ac1a1a;}
p    {color:#171515 ;}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>

